DataTierGenerator.Common/ProjectSchema/project.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="project" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="Project">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element ref="Configuration" minOccurs="1" maxOccurs="1" />
                <xs:element ref="Schemas" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
            <xs:attribute name="Name" use="required" type="xs:string" />
            <xs:attribute name="Version" use="required" type="xs:string" />
        </xs:complexType>
    </xs:element>
    <xs:element name="Configuration">
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="1">
                <xs:element ref="CodeGenerationDetails" minOccurs="1" maxOccurs="1" />
                <xs:element ref="DbConnectionDetails" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CodeGenerationDetails">
        <xs:complexType>
            <xs:attribute name="Namespace" type="xs:string" use="required" />
            <xs:attribute name="OutputPath" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="DbConnectionDetails">
        <xs:complexType>
            <xs:attribute name="DbProviderType" type="xs:string" use="required" />
            <xs:attribute name="ConnectionString" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="Schemas">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element ref="Schema" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Tables">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element ref="Table" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Views">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element ref="View" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Functions">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element ref="Function" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Procedures">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element ref="Procedure" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Schema">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element ref="Tables" minOccurs="0" maxOccurs="1" />
                <xs:element ref="Views" minOccurs="0" maxOccurs="1" />
                <xs:element ref="Functions" minOccurs="0" maxOccurs="1" />
                <xs:element ref="Procedures" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
            <xs:attribute name="Name" use="required" type="xs:string" />
        </xs:complexType>
    </xs:element>
    <xs:element name="Table">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element ref="Columns" minOccurs="1" maxOccurs="1" />
                <xs:element ref="PrimaryKey" minOccurs="0" maxOccurs="1" />
                <xs:element ref="ForeignKeys" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="DatabaseName" type="xs:string" use="required" />
            <xs:attribute name="Description" type="xs:string" use="required" />
            <xs:attribute name="Schema" type="xs:string" use="required" />
            <xs:attribute name="Build" type="xs:boolean" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="View">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element ref="Columns" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="DatabaseName" type="xs:string" use="required" />
            <xs:attribute name="Description" type="xs:string" use="required" />
            <xs:attribute name="Schema" type="xs:string" use="required" />
            <xs:attribute name="Build" type="xs:boolean" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="Function">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element ref="Parameters" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="DbName" type="xs:string" use="required" />
            <xs:attribute name="Description" type="xs:string" use="required" />
            <xs:attribute name="Schema" type="xs:string" use="required" />
            <xs:attribute name="Build" type="xs:boolean" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="Procedure">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element ref="Parameters" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="DbName" type="xs:string" use="required" />
            <xs:attribute name="Description" type="xs:string" use="required" />
            <xs:attribute name="Schema" type="xs:string" use="required" />
            <xs:attribute name="Build" type="xs:boolean" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="Columns">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element ref="Column" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Column">
        <xs:complexType>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="PropertyName" type="xs:string" use="required" />
            <xs:attribute name="DbType" type="xs:string" use="required" />
            <xs:attribute name="EnumeratedTypeName" type="xs:string" use="required" />
            <xs:attribute name="LanguageType" type="xs:string" use="required" />
            <xs:attribute name="ClrType" type="xs:string" use="required" />
            <xs:attribute name="Length" type="xs:string" use="required" />
            <xs:attribute name="Precision" type="xs:string" use="required" />
            <xs:attribute name="Scale" type="xs:string" use="required" />
            <xs:attribute name="DefaultValue" type="xs:string" use="required" />
            <xs:attribute name="IsNullable" type="xs:boolean" use="required" />
            <xs:attribute name="IsIdentity" type="xs:boolean" use="required" />
            <xs:attribute name="IsRowGuid" type="xs:boolean" use="required" />
            <xs:attribute name="IsComputed" type="xs:boolean" use="required" />
            <xs:attribute name="Description" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="PrimaryKey">
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="1">
                <xs:element ref="PkColumns" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="ForeignKey">
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="1">
                <xs:element ref="FkColumns" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="PkColumns">
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="1">
                <xs:element ref="PkColumn" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="FkColumns">
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="1">
                <xs:element ref="FkColumn" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PkColumn">
        <xs:complexType>
            <xs:attribute name="ColumnName" type="xs:string" use="required" />
            <xs:attribute name="KeyOrdinal" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="FkColumn">
        <xs:complexType>
            <xs:attribute name="constraint_column_name" type="xs:string" use="required" />
            <xs:attribute name="constraint_column_id" type="xs:string" use="required" />
            <xs:attribute name="referenced_table" type="xs:string" use="required" />
            <xs:attribute name="referenced_column_name" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="ForeignKeys">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element ref="ForeignKey" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Parameters">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element ref="Parameter" minOccurs="1" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Parameter">
        <xs:complexType>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="PropertyName" type="xs:string" use="required" />
            <xs:attribute name="DbType" type="xs:string" use="required" />
            <xs:attribute name="EnumeratedTypeName" type="xs:string" use="required" />
            <xs:attribute name="LanguageType" type="xs:string" use="required" />
            <xs:attribute name="ClrType" type="xs:string" use="required" />
            <xs:attribute name="Length" type="xs:string" use="required" />
            <xs:attribute name="Precision" type="xs:string" use="required" />
            <xs:attribute name="Scale" type="xs:string" use="required" />
            <xs:attribute name="DefaultValue" type="xs:string" use="required" />
            <xs:attribute name="IsNullable" type="xs:boolean" use="required" />
            <xs:attribute name="Description" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>